.langContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
.singleLang{
    cursor: pointer;
}
h3{
   
    text-align: center;
    margin: 0 auto;
}

