.navContainer{
    border: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.navItem{
    flex: 1;
    padding: 0.25em;
}
@media only screen and (max-width: 500px){
    .navContainer{
        flex-direction: column;
    }
}